body {
  background: #000000;
  color: #ffffff;
}

.App {
  text-align: center;
  padding: 5%;
}

.App-title {
  font-size: 26px;
}

.App-srchbtn {
  margin: 30%;
  padding: 12%;
  border: #ffffff 1px solid;
}